html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
main{
  height: 100vh;
}
header{
  padding: 20px 30px;
}
footer{
  position: absolute;
  bottom: 86px;
  background-color: rgba(169, 85, 253, 0.26);
  color: white;
  width: 100%;
  text-align: right;
  padding: 10px 30px;
}
.main-background{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content{
  padding: 30px;
}
a{
  text-decoration: none;
  color: rgb(109, 141, 168);
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.search{
  font-size: 18px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px 0 0 10px;
}
@media screen and (min-width: 768px){
  .search{
    width: 40%
  }
}
.search-btn{
  background-color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.search, .search-btn{
  outline: none;
  border: none;
  padding: 9px;
}
.loading, .search-error{
  margin: 20px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.city-name, .current-date{
  font-size: 30px;
  color: white;
  font-weight: 700;
  margin: 10px;
}
.current-date{
  font-size: 14px;
  margin: 0 10px;
  font-weight: 200;
}
.weather-data{
  margin: auto;
}
.weather-data_wrapper{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px){
  .weather-data_wrapper{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
.weather-data_main{
  font-size: 150px;
  color: white;
  margin: 50px auto;
}
.summary{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  color: white;
  padding: 10px;
  text-decoration: overline underline;
}
@media screen and (min-width: 768px){
  .weather-data_main{
    font-size: 200px;
    margin: 80px;
  }
}
.weather-data_rest{
  background-color: rgba(255,255,255,0.3);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px){
  .weather-data_rest{
    margin: 10px;
    padding: 20px 5px;
    position: static;
    width: auto;
  }
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  color: white;
  font-size: 18px;
}
@media screen and (min-width: 768px){
  .item{
    padding: 10px 30px;
  }
}
.item_type{
  color: white;
  font-weight: 600;
  margin-top: 10px;
  font-style: italic;
}